.achievementsPage {
    width: 100%;
   min-height: 100vh;
    background-color: #3a4074;
    display: block;
    position: relative;
  //  border-radius: 10px;
}
.allDailyPicturesItems {
    margin-top: 50px;
}