.todaysPicture {
    max-width: 80%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    color: #fff;
    top: 100px;
    background-color: rgb(44, 1, 96);
    height: auto;
    padding: 40px;
    border-radius: 20px;



    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    
}
.todaysPictureTitle {
    padding-left: 100px;
}