.todaysPicture {
    max-width: 80%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    color: #fff;
    top: 100px;
    height: auto;
    border: 1px solid black;
    
}
.todaysPictureTitle {
    padding-left: 100px;
}