.calendarMonthDays {
    display: grid;
    grid-template-rows: (auto, 50px) ;
     grid-template-columns: repeat(7, 150px);
     position: relative;
     top: 50px;
  justify-content: center;

}
.btnsCalendar {
 
    position: relative;
    display: flex;
  justify-content: center;
}
.btnsCalendar{
    position: relative;
    cursor: pointer;
    z-index: 122222;
}
 .calendarYear,  .calendarMonth {
    background-color: transparent;
    border: none;
    color: #ffffffb9;
    border-bottom: 2px solid #ffffffb9 ;
    outline: none;
    width: 50px;
    text-align: center;
 }
 .activeDataCalendar {
 width: 20px;
background-color: rgb(116, 1, 170);
text-align: center;
border: 2px solid black;
 }

 .calendar {
  position: relative;
 }
 .btnsCalendarItem {
  width: 50px;
  color: #ffffffb9;
  background-color: dimgray;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
 }