.navigation {
    width: 100%;
    max-width: 100%;
    height: 60px;
    position: relative;
    display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  z-index: 111;
  white-space: nowrap;
}
.navigationItem {
    color: #fff;
}

.navigationItemContainerItem {
    height: 60px;
}
.navigationItemContainer {
    width: 400px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-left: 50px;
    color: #fff;
}
.navigationFon {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #15172b;
  //  background-color: rgb(196, 193, 193);
    z-index: -1;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navigationItem:nth-child(1){
 position: absolute;
}
.navigationSearchContainer {
    display: flex;
}
.navigationSearchButton {
    height: 0px;
    display: none;
}
.navigationItemFlex {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
}
.navigationItemMarginLeft {
margin-left: 30px;
}
.navigationItemFlexBefore {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
}
.navigationSearchButton {
    position: absolute;
    z-index: 2233;
}
.searchNavigation {
    width: 100px;
    height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(103, 139, 240);
}
.searchBoxZ {
    background: #2f3640;
   position: relative;
  margin-left: 50px;
    border-radius: 40px;
}

.searchBoxZ:hover > .searchInputZ {
    width: 240px;
}

.searchBoxZ:hover > .searchButtonZ {
  background: white;
  color : #2f3640;
}

.searchButtonZ {
    color: white;
  //  float: right;
   width: 40px;
  //  height: 40px;
  right: 0;
  position: absolute;
transform: translateX(30px);
    border-radius: 50%;
   background-color: #fff;
    display: flex;
    justify-content: center;
  padding: 6px;
    transition: 0.4s;
    cursor: pointer;
}

.searchInputZ {
    border:none;
    background: none;
   border-bottom: 3px solid  #212342;
 //  background-color: #212342;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.8s;
   line-height: 40px;
    width: 0px;
    &.active {
        width: 100%; // Добавляем свойство width: 100% для активного состояния
      }

}

@media screen and (max-width: 620px) {
.searchBoxZ:hover > .searchInputZ {
    width: 150px;
  //  padding: 0 6px;
}
}

.tyu {
    width: 100%;
    height: 100%;
}
.navigationItem:nth-child(3){
   margin-right: auto;
}
.navigationItemIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.navigationItemPictures{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.foundedElemsSearch {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    top: 50px;
   // padding: 5px;
    background-color: rgb(1, 1, 194);
} 

.foundedElemSearch {
   width: 100%;
   height: auto;
   white-space: wrap;
   color: #fff;
   border-bottom: 3px solid black;
   cursor: pointer;
 // padding: 5px;
  
} 
 .foundedElemSearchText{
    max-width: 95%;
    width: 100%;
    text-align: center;
 }