.achievementsPage {
    min-height: 100vh;
}





.pageLayout{ 
    position: relative;
    min-height: 100vh;
    display: block;
    height: auto;
    overflow-x: hidden;
   // overflow: hidden;
}
.pageLayout::-webkit-scrollbar {
  width: 0;
}
