.achievementsPage {
    min-height: 100vh;
}

/*
.container-body {
    height: 6000px;
  }
  .spinnner {
    width: 140px;
    height: 140px;
    background-color: cornflowerblue;
 //   margin: auto;
   // margin-top: 55%;
margin-top: 100px;
position: relative;
z-index: 111;
  } 


*/



.pageLayout{ 
    position: relative;
    min-height: 100vh;
    display: block;
    height: auto;
    overflow: hidden;
}
.container-body {
    //height: 9000px;
    height: auto
  }
  .box {
    width: 100px;
    height: 100px;
   
   position: absolute;
   z-index: 111111;
   // background-color: hotpink;
    margin-top: 90rem;
    color: white;


  //  position: relative;
    z-index: 1111;
    position: absolute;
    font-size: 20px;
  }
  .box2 {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    margin-top: -5rem;
    color: white;
    font-size: 20px;
 //   position: relative;
 position: absolute;
    z-index: 111;
  }
  .rocket {
    transform: rotate(120deg);
    z-index: 11111;
    position: absolute;
  }

  .moonEffect {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 111;
    overflow: hidden;
  }
  .parallaxMoon {
    width: 400px;
    height: 400px;
  }