.achievementsPage {
    min-height: 100vh;
}

/*
.container-body {
    height: 6000px;
  }
  .spinnner {
    width: 140px;
    height: 140px;
    background-color: cornflowerblue;
 //   margin: auto;
   // margin-top: 55%;
margin-top: 100px;
position: relative;
z-index: 111;
  } 


*/



.pageLayout{ 
    position: relative;
    min-height: 100vh;
    display: block;
    height: auto;
    overflow: hidden;
}