.searchByDataLine {
 display: flex;
 justify-content: center;
 gap: 5px
 
}
.searchByDataComponentButton {
    background-color: rgb(44, 1, 96);
    outline: none;
    border: none;
width: 150px;
height: 30px;
color: #fff;
font-weight: 700;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
cursor: pointer;
}
.searchByDataComponentInput {
    border: none;
    outline: none;
    padding-left: 40px;
}

.searchByDataComponentInput::before {
    content: "q";
  //  position: absolute;
}
.ttt::before {
    content: "q";
  //  position: absolute;
}