.todaysPictureItem {
   top: 50px;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}
.todaysPictureItemImage {

    width: 100%;
    max-width: 100%;
    height:  auto;
}
.paragraphOfTodaysPictureItem{ 
font-size: 20px;
position: relative;
margin-bottom: 50px;
}